main{
	padding:1em;
}
@mixin frowEqualHeight($justify){
	display:flex;
	flex-flow:row;
	justify-content: $justify;
	align-items:stretch;
}
@mixin frowContentCentered($justify){
	display:flex;
	flex-flow:row;
	justify-content: $justify;
	align-items:center;
}

article{
	padding:2rem;
	margin:1rem 0;
	header{
		width:100%;
		margin-bottom: .5rem;
	}
	.article-body{
		margin-bottom: .5rem;
	}
	footer{
		width:100%;
		border-top:solid 1px grey;
	}
}